<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel ="stylesheet" href= "css/styles.css" />
    
    <link rel = "icon" href ="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
    <title>Sandesh Timilsina</title>
</head>
<body>
    <div class = "nav-bar">
        <ul >
          <li><a class="btn" href="index.html"><input class="testbutton" type="button" value= "Home"/></a></li>
          <li><a class = "btn" href="resume.html"> <input class="testbutton" type="button" value= "Resume"/> </a></li>
        </ul>
    </div>

    <div class="topbar">

    </div>   
</div>


{{>header}}
<div class="wrapper">
    <form id = "locationForm">
        <input placeholder = "Location" id = "locationInput">
        <button>Search</button>
</form>
</div>

<div>
    <p id = "message1"></p>
<p id = "message2"></p>
</div>
<script src="./js/app.js"></script>
</body>
</html>