<div class = "nav-bar">
        <ul >
          <li><a class="btn" href="https://www.sandesht.com/" target="_blank"><input class="testbutton" type="button" value= "Home"/></a></li>
          <li><a class = "btn" href="https://www.sandesht.com/resume.html"> <input class="testbutton" type="button" value= "Resume"/> </a></li>
        </ul>
    </div>

    <div class="topbar">

    </div>   
</div>
<h1>{{title}}</h1>
<h1 style = "color: grey">Search for location !</h1>
